<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="practice/common/common_script  :: import_script(~{::title},~{::link})">
    <title>메인페이지</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">
</head>
<body>
    <!-- 헤더 영역 st -->
    <header th:replace="~{practice/common/header :: commonHeader}"></header>
    <!-- 헤더 영역 end -->

    <div>
        컨텐츠 내용 영역
    </div>

    <!-- 푸터 영역 st -->
    <footer th:replace="~{practice/common/footer :: commonFooter}"></footer>
    <!-- 푸터 영역 end -->

</body>
</html>